h1 #{title}
p
  a.button(href='/books/new_book') Create New Book
  input#search(type='text', placeholder='Search Books ..')
  button.resetButton Reset
p
| Filters
a(href='/books')  All |
a(href='/books/overdue_books')  Overdue |
a(href='/books/checked_books')  Checked Out 
script.
      var textInputElement = document.getElementById('search');
      textInputElement.addEventListener('keyup', function(){
      var text = textInputElement.value;
      console.log('New text is "' + text + '"');
      });
