h1 #{title}
p
  a.button(href='/books/new_book') Create New Book
  input#search(type='text', placeholder='Search Patrons ..')
  button#searchButton Reset
p
| Filters
a(href='/books')  All |
a(href='/books/overdue_books')  Overdue |
a(href='/books/checked_books')  Checked Out 
