nav
  ul
    li
      a(href='/all_books') Books
    li
      a(href='/all_patrons') Patrons
    li
      a(href='/all_loans') Loans
    li
      a(href='https://www.google.com') Google 
    li
      a(href='https://www.twitter.com') Twitter  
    li
      a(href='/') Home  
