script.
      //script for search field listeners
      const searchInput = document.getElementById('search');
      const searchButton = document.getElementById('searchButton');
      //event listener to trigger when the enter key is pressed      
      searchInput.addEventListener('keypress', function(e){
      var key = e.which || e.keyCode;
      if (key === 13) { 
      var text = searchInput.value;
      if(text !== ""){
      var urlPath = `/patrons/search/${text}`
      } else {
        var urlPath = `/patrons/`
      }
      window.history.pushState({"html":text,"pageTitle":"searching patrons"},"", urlPath);
      window.history.go();
      console.log("/patrons/search/" + text);
      }
      });
      //event listener to trigger when the search button is clicked      
      searchButton.addEventListener('click', function(){
      var text = searchInput.value;
      if(text !== ""){
      var urlPath = `/patrons/search/${text}`
      } else {
        var urlPath = `/patrons/`
      }
      window.history.pushState({"html":text,"pageTitle":"searching patrons"},"", urlPath);
      window.history.go();
      console.log("/patrons/search/" + text);
      });
