//- extends layout

block content
  
    h1 Library Manager
    p Welcome to Library Manager
    ul
      li
        | Books
        ul
          li
            a(href='books/new_book') New Book
          li
            a(href='books') List All
          li
            a(href='books/overdue_books') List Overdue
          li
            a(href='books/checked_books') List Checked Out
      li
        | Patrons
        ul
          li
            a(href='patrons/new_patron') New Patron
          li
            a(href='patrons') List All
      li
        | Loans
        ul
          li
            a(href='loans/new_loan') New Loan
          li
            a(href='loans') List All
          li
            a(href='loans/overdue_loans') List Overdue
          li
            a(href='loans/checked_loans') List Checked Out
      li
        | Tracking
        ul
          li
            a(href='loans/new_loan') New Loan
          li
            a(href='loans') List All
          li
            a(href='loans/overdue_loans') List Overdue
          li
            a(href='loans/checked_loans') List Checked Out
