extends ../layout

block content
    h1 #{title}

    form(method='post')  
 
        label(for='loaned_on') Submit Date
        input#loaned_on(type='text' name='loaned_on' value= loaned_on)
        
        input#button(type='submit' value='Create New Book')



    include ../includes/page_nav 