extends ../layout

block content
    h1 hello world
    .container
        .title DARRYL CORNELIUS DRIEDGER
        .subtitle  PROJECT COORDINATION + BUILDING SYSTEMS + DATA MANAGEMENT + SCHEDULING    
        .title2
        a(href='mailto:contact@darryldriedger.com?subject=Mail from Our Site') contact@darryldriedger.com
    